@import './src/accets/variables';

.like {
  display: flex;
  gap: 5px;
  color: $color_text_1;

  &:before {
    background-image: url("hart.png") ;
    height: 16px;
    width: 16px;
    content: "";
    background-repeat: no-repeat;

  }
}

.favorited {
  &:before {
    background-image: url("hartRed.png");
  }
}
