.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 16px 22px;

  &__title {
  }

  &__right {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
