$color_text_1: rgba(0, 0, 0, 0.75);
$heading_color: rgba(0, 0, 0, 0.85);
$info_color: #1890FF;
$color_background: #EBEEF3;
$text-color-secondary: rgba(0, 0, 0, 0.5);
$success-color: #52C41A;
$error-color: #F5222D;

$wrapper_width: 600px;
